.serach {
    width: 400px;
    max-width: 100%;
    height: 40px;
    margin-top: 20px;
}

.field {
    height: 100%;
    width: 80%;
    float:left;
    padding-left: 10px;
}

i {
    font-size: 30px;
    text-align: center;
    padding: 5px;
    float: left;
}

.user {
    width: 100%;
    border: 1px solid #000;
    height: 100px;
    float: left;
}

.user img {
    height: 100%;
    box-sizing: border-box;
    padding: 5px;
    width: auto;
    float: left;
}
.user h5,
.user h2 {
    margin: 5px 0 0 0;
}
.user p {
    padding: 0;
}